html{
    background: rgb(134, 236, 121);
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
body{
    margin: 0;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    flex: auto;
} 
/* a{
    color:rgb(20, 176, 248);
    text-decoration: underline; */
/* }
a:hover{
    text-decoration: none;  
}  */
/* img{
    border: 0;
} */
h1{
    margin-top: 0;
    }
.header{
    width: 100%;
    max-width: 960px;
    min-width: 430px;
    margin: 0 auto 30px;
    padding: 30px 0 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    box-sizing: border-box; */
    }
.logo{
    background: rgb(124, 15, 175)0;
    width: 200px;
    height: 80px;
    font-size: 0;
    margin: 0 10px 10px 0;
    display: flex;
    flex: none;
    align-items: center;
    } 
.nav{
    margin:-5px 0 10 -15px;
    display: flex;
    flex-wrap: wrap;
    }
/* .nav-itm{
    background: rgb(124, 15, 175);
    width: 130px;
    height: 50;
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    text-align: center;
    margin: 5px 0 o 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    }  */
/* .main{
    width: 100%;
    min-width: 430px;
    max-width: 960px;
    margin: auto;
    flex: auto;
    box-sizing: border-box;
   } */
.fline{
    background: rgb(124, 15, 175)0;
    width: 70%;
    min-height: 80px;
    margin: 0 0 30px 30px;
    } 
.sline{
    background: rgb(124, 15, 175)0;
    width: 80%;
    min-height: 80px;
    margin: 0 0 30px 30px;
    }
.grid{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    } 
.grid-itm{
    margin-bottom: 30px;
    flex: 0 1 calc(25%-30px*3/4);
    }
/* .grid-img{

} */
.sqr{
    width: 200px;
    height: 200px;
    background: rgb(50, 27, 61); 
}               
.footer{
    background: rgb(50, 27, 61);
    width: 100%;
    max-width: 960px; 
    min-width: 430px;
    color: #fff;
    margin: auto;;
    padding: 15px;
    box-sizing: border-box;
}
