.overlay {
    
	background: rgb(123, 197, 240);
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1000;
	opacity: .5;
}
.visible {
	background: rgb(99, 184, 240);
	position: fixed;
	left: 50%;
	top: 50%;
	margin-top: -200px;
	overflow: hidden;
    z-index: 2000;
    width: 500px;
	padding: 0px;
	margin-left: -250px;
}
#win button {
	float: right;
	line-height: 20px;
	margin: 1.2em;
	border: none;
	
}

.content {
	padding: 0 1em;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
    background: WhiteSmoke;
}
.modal-wrap:before {
    content: "";
    display: none;
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
}
.modal-overlay {
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 102;
}
/* активация слоя затемнения и модального блока */
.modal-open:checked ~ .modal-wrap:before,
.modal-open:checked ~ .modal-wrap .modal-overlay {
    display: block;
}
.modal-open:checked ~ .modal-wrap .modal-dialog {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 20%;
}
/* элементы модального окна */
.modal-dialog {
    background: #fefefe;
    border: none;
    border-radius: 5px;
    position: fixed;
    width: 80%;
    left: 50%;
    top: -100%;
    -webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -moz-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -webkit-transform: translate(-50%, -500%);
    -ms-transform: translate(-50%, -500%);
    -o-transform: translate(-50%, -500%);
    transform: translate(-50%, -500%);
    z-index: 103;
}
.modal-body {
padding: 20px;
height: auto;
}
.modal-1 {
    width: 200px; 
    cursor: pointer; 
    padding:10px 20px; 
    color:#fff; 
    background-color:#e62929;   
}